p {
background-color: pink;
border-left: 2px solid black;

}

#divv {
  background-color: lightblue;

}

h1 {
background-color: blue;
height: 100px
width: 100%;

}
.main {
  background-color: lightblue;
}
.random {

  border-left: 2px solid black;
  height: 200px;
  background-color: brown;
}
